.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.name {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.arrow {
  color: #000;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.details {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #777474;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 7px;
}

.containerBtn {
  display: flex;
  justify-content: space-between;
}

.containerBtn button:last-child {
  background-color: #e74c3c;
}

.details button {
  margin-right: 10px;
}
